.Navbar{
	box-shadow: 0px 0px 20px 0px rgba(145,145,145,0.5);
	background-color: white;
	color: black;
}

.Navbar-selected-category{
	font-weight: 700;
}

.Navbar-site{
	padding-left: 2.5em;
}

.Navbar-checkbox:checked + label{
	font-weight: 700;
}

/* active state of unchecked boxes */
.custom-control-label:before{
	background-color:rgb(255, 255, 255);
}

/* disabled state of unchecked boxes */
.custom-checkbox .custom-control-input:disabled~.custom-control-label::before{
	background-color:rgb(255, 255, 255);
}

/* tick of selected boxes */
.custom-checkbox .custom-control-input:checked~.custom-control-label::after{
	background-image:url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='black' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E");
}

/* index checkbox ------------------------------------------------------------------ */
/* active state of checked box */
.custom-checkbox .custom-control-input:checked~.Navbar-label-for-index::before{
	background-color:#f69220
}

/* disabled state of checked box */
.custom-checkbox .custom-control-input:checked:disabled~.Navbar-label-for-index::before{
	background-color:#f6922080
}

/* 444 checkbox ------------------------------------------------------------------ */
.custom-checkbox .custom-control-input:checked~.Navbar-label-for-444::before{
	background-color:#feff73
}

.custom-checkbox .custom-control-input:checked:disabled~.Navbar-label-for-444::before{
	background-color:#ffff7380
}

/* hvg checkbox ------------------------------------------------------------------ */
.custom-checkbox .custom-control-input:checked~.Navbar-label-for-hvg::before{
	background-color:#e25900
}

.custom-checkbox .custom-control-input:checked:disabled~.Navbar-label-for-hvg::before{
	background-color:#e25a0080
}

/* 24.hu checkbox ------------------------------------------------------------------ */
.custom-checkbox .custom-control-input:checked~.Navbar-label-for-24::before{
	background-color:#63667a
}

.custom-checkbox .custom-control-input:checked:disabled~.Navbar-label-for-24::before{
	background-color:#63667a80
}