.News{
	margin: 2em 0;
	border: none;
}

.News-image{
	height: 200px;
	background-size: cover;
	background-position: center;
	padding: 0;
}

.News-category{
	background-color: white;
	font-size: 13px;
	padding: 0 2px;
	margin: 5px;
	float: left;
}

.News-text{
	padding: 10px;
	text-align: start;
}

.News-text a {
	color: black;
}

.News-content{
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 3; /* number of lines to show */
	-webkit-box-orient: vertical;
}

.News-title{
	font-size: 1.3em;
	font-weight: 600;
}

@media screen and (min-width: 768px) {
	.News-date{
		position: absolute; 
		bottom: 0;
	}
}